$colorh1Elemen: #216225
$colorh1Fondo: #f4f4f4
h1
    background-color:$colorh1Fondo
    color: $colorh1Elemen
    padding: 23px
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif
    max-width: 100%
.toolbar
    background-color:$colorh1Fondo 
    max-resolution: top 0px
    width: 100%
    position: fixed
    z-index: 2
    text-align: center
.btn-filtros
    color: #216225
    border: solid 1px #216225
    margin: 2px
.example-form 
  min-width: 150px
  max-width: 500px
  width: 100%
  min-width: 138px
  max-width: 80%
  width: 100%
  align-items: center
  margin-left: 10%
.example-full-width 
  width: 100%
.icon-search
    position: relative
    top: -40px
    left: 53%
