<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<!-- Toolbar -->
<div class="toolbar" role="banner">
  <h1>{{title}}</h1>
  <section >
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label >busqueda por especialidad</mat-label>
      <input matInput placeholder="Medico general." >
    </mat-form-field>
    <mat-icon class='icon-search' aria-hidden="Search" aria-label="Example home icon">search</mat-icon> 
  </form>
  </section>
  <section>
    <div class="example-button-row">
      <button class="btn-filtros" mat-stroked-button>Medico general</button>
      <button class="btn-filtros" mat-stroked-button color="primary">Sirujanos</button>
      <button class="btn-filtros" mat-stroked-button color="accent">Odontologos</button>
      <button class="btn-filtros" mat-stroked-button color="warn">Psicologos</button>
      <button class="btn-filtros" mat-stroked-button >Otras Expecialidades.</button>
    </div>
  </section>
  <br>  
</div>

<div class="content" role="main">
   <app-medicos></app-medicos>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>