<h2>Ranquin de medicos.</h2>
<div class="contenedorMedicos">
  
    <mat-grid-list cols="3  " rowHeight="1:3"  *ngFor='let medico of medicos '>
           <mat-card class="example-card">
             
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title> {{medico.Nombre}}</mat-card-title>
                    <mat-card-subtitle>Ya es hora.</mat-card-subtitle>
               </mat-card-header>
               <img class='avatar' src='{{medico.foto}}' alt="Avatar" class="avatar"  alt="Photo of a Shiba Inu">
                <mat-card-content>
                <p> {{medico.descripcion}}</p>
               </mat-card-content>
               <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
              </mat-card-actions>
            </mat-card>
    </mat-grid-list>
</div>

<div *ngIf="selectedMedico">

    <h2>{{selectedMedico.Nombre | uppercase}} Details</h2>
    <div><span>id: </span>{{selectedMedico.id}}</div>
    <div>
        <label>Nombre:
            <input [(ngModel)]="selectedMedico.Nombre" placeholder="Nombre" />
        </label>
    </div>

</div>